@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Metal Mania', cursive;
}

.banner-container{
   background-color: #1C4A9B;
}

.banner-column{
    background-color: #FFD559;
}

.navbar-container{
    background-color: #ff5959;
}


.navbar{
    top: 0;
    position: sticky;
    z-index: 2;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
  

.navbar-container .navbar-nav .nav-item .nav-link{
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    transition: .4s;
}

.navbar-container .navbar-nav .nav-item .nav-link:hover{
    cursor: pointer !important;
    color: #7DE900;
}


.about-container .about-info{
    letter-spacing: 2px;
    color: #ffa000;
    font-size: 20px;
}

.about-container h2{
    letter-spacing: 1px;
    color: #7DE900;
}


.education-container{
    background-color: #eee;
}

h2.redtype-color{
    color: #ff5959 !important;
    letter-spacing: 2px;
}

.circle{
    background-color: #ff5959;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    letter-spacing: 2px;
}

.project-container{
    background-color: #ff5959;
}

.project-container h2{
    letter-spacing: 2px;
}

.project-container .row a{
    color: #000;
    letter-spacing: 1px;
    transition: .3s;
    text-decoration: none;
}

.project-container .row a:hover{
    color: #fff;
}


.portfolio .row h2{
    color: #ff5959;
    text-align: center;
    letter-spacing: 2px;
}


.form-container{
    background-color: #424242;
}

.form-container p{
    letter-spacing: 2px;
}

.form-container h2{
    letter-spacing: 2px;
}


.inner-form{
    background-color: #424242;
}

.form-container button{
    background-color: #424242;
    color: #fff;
    letter-spacing: 3px; 
}

.form-container button:hover{
    background-color: #fdd835;
    color: #000;
}


.footer{
    background-color: #4fc3f7;
}

.footer em{
    letter-spacing: 2px;
    font-size: 30px;
    background-image: linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% );
    color: #fff;
    padding: 5px 10px;
}

 .footer-text{
    letter-spacing: 2px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 30px;
}

.footer .copyright{
    font-size: 20px;
}

.footer span{
    background-image: linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% );
    color: #fff;
    padding: 5px 10px;
}



.footer .social a{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    margin-left: 2rem;
    border-radius: 50%;
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
    font-size: 30px;
    text-align: center;
    color: #fff;
    transition: .5s;
    margin-bottom: 3rem;
}

.fab{
    margin-top: 14px;
}

.social{
    margin-left: 20rem;
}

.footer .social:hover a{
    background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
    color: #FFE900;
    cursor: pointer;
}